h1 {
    font-size: 80px;
    font-family: 'Source Sans Pro', sans-serif;
}

.img1 {
    grid-area: img1;
    display: flex;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
    justify-self: center;
}

.img4 {
    grid-area: img4;
    height: 288px;
    justify-self: center;
}

.img5 {
    grid-area: img5;
}

p{
    flex-grow: 1;
    text-align: center;
    line-height: 22px;
    font-family: monospace;
}

.buttons{
    grid-area: buttons;
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.grid-container{
    display: inline-grid;
    grid-template-areas: 
        'img2 img3'
        'img2 img4'
        'img1 img1'
        'img5 img5'
        'buttons buttons';
    grid-row-gap: 15px;
}

.center {
    display: flex;
    justify-content: center;
}

/*Buttons*/

.btn {
    display: table-cell;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    width: 200px;
    height: 60px;
    border-radius: 50em;
    color: white;
    transition: all .3s;
 }

.download{
    background: #009900;
    box-shadow: 0 2px 20px rgba(0, 135, 0, 0.4), 0 2px 0 rgba(250, 250, 250, 0.2) inset, 0 0 10px rgba(0, 0, 0, 0.4);
}

.donate{
    background: #0583ca;
  box-shadow: 0 2px 20px rgba(5, 131, 202, 0.4), 0 2px 0 rgba(250, 250, 250, 0.2) inset, 0 0 10px rgba(0, 0, 0, 0.4);
}

i{
    display:flex;
    justify-content: space-evenly;
}

span, em, i {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

span {
    overflow: hidden;
}

em, i {
    transition: all .3s;
}

em {
    top: 0;
    line-height: 60px;
    font-style: inherit;
}

.btn:hover em {
    top: -100%;
}

.btn i{
    top: 120%;
}

.btn:hover i {
    top: 20%;
}

