h1 {
    font-size: 80px;
    font-family: 'Source Sans Pro', sans-serif;
}

html{
    color: white;
}

body{
    background: url("background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
    background: #2e3a4c;
    padding: 8px;
    border: black 2px solid;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-bottom: -2px;
}

.img1 {
    grid-area: img1;
    display: flex;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
    justify-self: center;
}

.img4 {
    grid-area: img4;
    height: 288px;
    justify-self: center;
}

.img5 {
    grid-area: img5;
}

p{
    flex-grow: 1;
    text-align: center;
    line-height: 22px;
    font-family: monospace;
}

#don{
    width: 300px;
    flex-grow: 0;
    margin-top: 8px;
    margin-bottom: 0px;
    height: 44px;
}

.buttons{
    grid-area: buttons;
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.comment{
    background: #292929;
    border: black solid 2px;
    padding-left: 15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#description1{
    grid-area: description1;
}

#description2{
    grid-area: description2;
}

.grid-container2{
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 15px;
    grid-area: screenshots;
    grid-template-areas:
        'img2 img3'
        'img2 img4'
        'img1 img1'
        'img5 img5';
        display: inline-grid;
    grid-row-gap: 15px;
}

.grid-container{
   
    grid-template-areas: 
        'description1'
        'screenshots'
        'description2'
        'buttons';
    grid-row-gap: 15px;
}

.dc{
    white-space: pre-line;
    width: 970px;
    text-align: start;
    line-height: 20px;
    font-family: monospace;
    font-size: 15px;
}

.center {
    display: flex;
    justify-content: center;
}

/*Buttons*/

.btn {
    display: table-cell;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    width: 200px;
    height: 60px;
    border-radius: 50em;
    transition: all .3s;
 }

.ic{
    display:flex;
    justify-content: space-evenly;
}

.download{
    background: #009900;
    box-shadow: 0 2px 20px rgba(0, 135, 0, 0.4), 0 2px 0 rgba(250, 250, 250, 0.2) inset, 0 0 10px rgba(0, 0, 0, 0.4);
}

.donate{
    background: #0583ca;
  box-shadow: 0 2px 20px rgba(5, 131, 202, 0.4), 0 2px 0 rgba(250, 250, 250, 0.2) inset, 0 0 10px rgba(0, 0, 0, 0.4);
}

i{
    display:flex;
    justify-content: space-evenly;
}

span, em, .ic {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

span {
    overflow: hidden;
}

em, .ic {
    transition: all .3s;
}

em {
    top: 0;
    line-height: 60px;
    font-style: inherit;
}

.btn:hover em {
    top: -100%;
}

.btn .ic{
    top: 120%;
}

.btn:hover .ic {
    top: 20%;
}

.fab,
.fa {
    cursor: pointer;
}

ul.dc{
    white-space: normal;
    list-style-position: inside;
    padding-left: 0;
}

a{
    color: gray;
}